.welcome {
background-color: rgba(104, 145, 63, 0.998);
height: 100vh;
font-family: avenir;
letter-spacing: .2rem;
font-size: 2rem;

}
.sign-in{
    padding: 1rem;
    background-color: rgb(123, 236, 236);
    border-radius: 1rem;
    margin-top: 2.5rem;
    font-weight: bold;
    width: 10rem;
    font-size: 1rem;

    &:hover {
        background-color: lightgreen;
    }
    &:active {
        background-color: green;
        outline: .1rem aqua solid;
    }
}

h1 {
    background-color: hsl(208, 100%, 97%, .3);
    border-radius: 1rem;
    padding: 1rem 0 1rem;
}