.chatbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 5rem;
    &__form {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1.5rem 1rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #6eb6c4;
        resize: none;
        border-radius: 0;

        &-eq {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 30rem;
        }
    }

    &__label {
        font-family: Avenir;
        font-weight: bold;
    }
    &__input {
        height: 2rem;
        width: 60%;
        border-radius: 1rem;
        padding-left: 1rem;
    }

    &__msgs-wrap {
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        width: 98%;
        margin-top: 1rem;
    }
}

.send-button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0;
    background-color: aquamarine;
    &:hover {
        background-color: aliceblue;
    }
    &:active {
        background-color: aqua;
    }
}

.user-message {
    margin: .5rem ;
    border: 1px solid black;
    border-radius: 6px;
    // display: inline-block;
    padding: .5rem;
    background-color: aliceblue;
    padding: 1rem;

    &__user {
        font-weight: 600;
        width: fit-content;
        padding-bottom: .4rem;
    }
    &__message {
        padding-top: .5rem;
        background-color: aliceblue;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: .4rem;
        width: fit-content;
    }
}

.gabrielle.malate {
    background-color: rgb(214, 152, 250);
}

.Steven.Faliszewski {
    background-color: rgb(145, 238, 207);
}
